<div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container" align="middle">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Login</h3>
                        <div class="social-line text-center">
                            <div *ngIf="success" class="alert alert-success">{{ message }}</div>
                            <div *ngIf="failure" class="alert alert-danger">{{ message }}</div>

                        </div>
                        <form class="register-form">

                            <label>Email</label>
                            <input class="form-control" placeholder="Enter your email address" type="text" [(ngModel)]="email" name="email" id="blablabla" required>

                            <label>Password</label>
                            <input class="form-control" placeholder="Minimum 8 characters" type="password" [(ngModel)]="password" name="password" required>


                            <button type="button" class="btn btn-success" (click)="login()">Login!</button>

                            <p *ngIf="!success">don't have an account?</p>

                            <a *ngIf="!success" href="/users/register"><button type="button" class="btn btn-primary">Create an account!</button></a>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>