<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url(' ../assets/img/suppliesCover.png');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/stationery.jpg" alt="Circle Image" class="img-thumbnail img-responsive">
                </div>
                <div class="name ">
                    <h2 class="title ">{{name}}<br /></h2>
                    <div *ngIf="twitterAvailable || fbAvailable" class="social-line text-center">
                        <p>Check us out on social media</p>

                        <a *ngIf="fbAvailable" href="{{facebook}}" class="btn btn-neutral btn-facebook btn-just-icon">
                            <i class="fa fa-facebook-square"></i>
                        </a>

                        <a *ngIf="twitterAvailable" href="{{twitter}}" class="btn btn-neutral btn-twitter btn-just-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                        </span>

                    </ng-template>

                    <ngb-rating [(rate)]="averageRating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                    <span>({{numReviews}})</span>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-6 ml-auto mr-auto text-center ">
                    <p ng-if="aboutUsAvailable">{{aboutUs}} </p>
                    <br />

                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation ">
                <div class="nav-tabs-wrapper ">
                    <ngb-tabset [justify]=" 'left' ">

                        <ngb-tab title="About us ">
                            <ng-template ngbTabContent>
                                <div class="row following " id="aboutUs ">
                                    <div class="col-md-6 ml-auto mr-auto ">
                                        <ul class="list-unstyled follows ">

                                            <li *ngIf="websiteAvailable">
                                                <div class="row ">
                                                    <span class="label label-default">Website</span>
                                                    <a [ngStyle]="{'padding-left':'30px' }" href="{{website}}" class="btn btn-link btn-primary">{{website}}</a>

                                                </div>
                                            </li>
                                            <hr *ngIf="websiteAvailable" />

                                            <li>
                                                <div class="row ">
                                                    <span class="label label-primary">address</span>
                                                    <div [ngStyle]="{'padding-left':'20px' }">
                                                        <i class="fa fa-map-marker"></i>{{address}}
                                                    </div>
                                                </div>

                                            </li>
                                            <div class="row">
                                                <a [ngStyle]="{'padding-left':'80px' }" href="{{googleMapsUrl}}" class="btn btn-link btn-primary">{{googleMapsUrl}}</a>
                                            </div>
                                            <hr />
                                            <li>
                                                <div class="row ">
                                                    <span class="label label-info">Phone numbers</span>
                                                    <div [ngStyle]="{'padding-left':'20px' }">
                                                        <i *ngIf="phoneNumbersAvailable" class="fa fa-phone"></i> {{phoneNumbers}}
                                                        <span class="mh-5 text-muted">|</span> {{internationalPhoneNumbers}}
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />

                                            <li>
                                                <div class="row " *ngIf="contactAvailable">
                                                    <span class="label label-success">Contact Us</span>
                                                </div>
                                            </li>
                                            <li ng-if="contactAvailable">
                                                {{contactUs}}
                                            </li>
                                            <hr *ngIf="contactAvailable" />

                                            <li>
                                                <div class="row ">
                                                    <span class="label label-warning">Opening Hours</span>
                                                    <div [ngStyle]="{'padding-left':'10px' }">
                                                        {{openingHours}}
                                                    </div>
                                                </div>

                                            </li>
                                            <hr />
                                            <li>
                                                <div class=" row" *ngIf="storesAvailable">
                                                    <span class="label label-danger ">Stores</span>
                                                    <div [ngStyle]="{'padding-left':'30px' }">
                                                        {{stores}}
                                                    </div>
                                                </div>
                                            </li>
                                            <hr *ngIf="storesAvailable" />

                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab title="Reviews ">
                            <ng-template ngbTabContent>
                                <div *ngIf="reviewsAvailable" class="roww ">
                                    <span class="heading ">User Rating</span>


                                    <p>{{averageRating}} average based on {{numReviews}} reviews.</p>
                                    <hr style="border:3px solid #f1f1f1 ">

                                </div>

                                <p *ngIf="! reviewsAvailable">This stationery has no reviews yet</p>

                                <div class="row following " id="reviews ">
                                    <div class="col-md-6 ml-auto mr-auto ">
                                        <ul class="list-unstyled follows " *ngFor="let review of reviews; let i=index ">
                                            <li>

                                                <blockquote class="blockquote ">
                                                    <h6 class="pull-left">{{review.user_name}}</h6>

                                                    <div class="row" [ngStyle]="{'padding-left':'30px' }">
                                                        <ng-template #t let-fill="fill">
                                                            <span class="starSmall" [class.full]="fill === 100">
                                                                 <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                                            </span>
                                                        </ng-template>
                                                        <ngb-rating [(rate)]="review.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                                                    </div>

                                                    <p class="mb-0 ">{{review.comment}}</p>

                                                    <footer>
                                                        <p class="text-muted"> <cite>{{review.time_string}}</cite></p>
                                                    </footer>


                                                </blockquote>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                    </ngb-tabset>
                </div>
            </div>


        </div>
    </div>
</div>