<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/<home></home>">School Shop</a>
        <button class="navbar-toggler navbar-toggler-right burger-menu" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
        <div class="collapse navbar-collapse" id="navbar-primary">
            <ul class="navbar-nav ml-auto">


                <li class="nav-item ">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdown1" ngbDropdownToggle>Schools</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a href="/schools" class="dropdown-item">All Schools</a>
                            <a href="/schools/location/nearby" class="dropdown-item">Nearby</a>
                            <a href="/schools/location/Alexandria" class="dropdown-item">Alexandria</a>
                            <a href="/schools/location/Dokki" class="dropdown-item">Dokki</a>
                            <a href="/schools/location/Heliopolis" class="dropdown-item">Heiopolis</a>
                            <a href="/schools/location/Helwan" class="dropdown-item">Helwan</a>
                            <a href="/schools/location/Hurghada" class="dropdown-item">Hurghada</a>
                            <a href="/schools/location/Maadi" class="dropdown-item">Maadi</a>
                            <a href="/schools/location/Nasrcity" class="dropdown-item">Nas city</a>
                            <a href="/schools/location/Newcairo" class="dropdown-item">New Cairo</a>
                            <a href="/schools/location/Zamalek" class="dropdown-item">Zamalek</a>
                            <a href="/schools/location/October" class="dropdown-item">6th October</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item ">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdown1" ngbDropdownToggle>Stationery</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a href="/stationary/location/all" class="dropdown-item">All Stationery Stores</a>
                            <a href="/stationary/location/nearby" class="dropdown-item">Nearby</a>
                            <a href="/stationary/location/Alexandria" class="dropdown-item">Alexandria</a>
                            <a href="/stationary/location/Dokki" class="dropdown-item">Dokki</a>
                            <a href="/stationary/location/Heliopolis" class="dropdown-item">Heiopolis</a>
                            <a href="/stationary/location/Helwan" class="dropdown-item">Helwan</a>
                            <a href="/stationary/location/Hurghada" class="dropdown-item">Hurghada</a>
                            <a href="/stationary/location/Maadi" class="dropdown-item">Maadi</a>
                            <a href="/stationary/location/Nasrcity" class="dropdown-item">Nas city</a>
                            <a href="/stationary/location/Newcairo" class="dropdown-item">New Cairo</a>
                            <a href="/stationary/location/Zamalek" class="dropdown-item">Zamalek</a>
                            <a href="/stationary/location/October" class="dropdown-item">6th October</a>


                        </div>
                    </div>
                </li>



                <li class="nav-item">

                    <a class="nav-link" href="#"><i class="nc-icon nc-settings-gear-65" aria-hidden="true"></i>Home</a>
                </li>

                <li *ngIf="isLoggedIn()" class="nav-item">
                    <a class="nav-link" href="/users/profile/{{userId}}"><i class="nc-icon nc-settings-gear-65" aria-hidden="true"></i>{{userName}}</a>
                </li>

                <li *ngIf="isLoggedOut()" class="nav-item">
                    <a href="/users/login"><button type="button" class="btn btn-warning">Login / Register</button></a>
                </li>

                <li class="nav-item">
                    <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">logout</button>
                </li>



            </ul>
        </div>
    </div>
</nav>