/* SchoolsComponent's private CSS styles */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.schools {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.schools li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.schools li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.schools li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.schools .text {
    position: relative;
    top: -3px;
}

.schools .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 15%;
    border-radius: 5px;
}

.right {
    width: 85%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.certificatesbox {
    padding-top: 20px;
}

.schoolsort {
    padding-left: 20px;
    padding-bottom: 30 px;
}

.allschools {
    padding-top: 20px;
}

a:link {
    text-decoration: none;
    color: darkslategrey;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: dodgerblue;
}

a:active {
    text-decoration: underline;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}

.trip-guide-meta .rating-item {
    margin-top: -5px;
}

.user-item-01 .rating-item .fa {
    color: #FFF;
}

.detail-header .rating-item {
    padding-right: 30px;
    position: relative;
}

.detail-header .rating-item:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -60px;
    width: 90px;
    height: 1px;
    background: #FFF;
    display: block;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.detail-header .rating-item:after {
    content: "";
    position: absolute;
    top: 20px;
    right: -60px;
    width: 90px;
    height: 1px;
    background: #FFF;
    display: block;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.detail-header .rating-text {
    margin-top: 2px;
}

.detail-header .rating-item .rating-symbol {
    margin-right: 0;
    margin-left: 5px;
}

.detail-header-02 .rating-item {
    margin-top: 7px;
}

.detail-header-02 .rating-item .rating-text {
    display: inline-block;
}

.detail-header-02 .meta-list li .rating-item {
    margin-top: 0;
}


/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,

/* show gold star when clicked */

.rating:not(:checked)>label:hover,

/* hover current star */

.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}


/* hover previous stars in list */

.rating>input:checked+label:hover,

/* hover current star when changing rating */

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,

/* lighten current selection */

.rating>input:checked~label:hover~label {
    color: #FFED85;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0 auto;
    /* Center website */
    max-width: 800px;
    /* Max width */
    padding: 20px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}


/* Three column layout */

.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}


/* Place text to the right */

.right {
    text-align: right;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* The bar container */

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}


/* Individual bars */

.bar-5 {
    height: 18px;
    background-color: #32c9f6;
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: #4acff7;
}

.bar-3 {
    width: 40%;
    height: 18px;
    background-color: #7bdcf9;
}

.bar-2 {
    width: 10%;
    height: 18px;
    background-color: #93e2fa;
}

.bar-1 {
    width: 20%;
    height: 18px;
    background-color: #c4effc;
}


/* Responsive layout - make the columns stack on top of each other instead of next to each other */

@media (max-width: 400px) {
    .side,
    .middle {
        width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}

.star {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: #d3d3d3;
}

.full {
    color: #f9ad1b;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #f9ad1b;
}

.starsContainer {
    padding-left: 20px;
}